html.recolor-ext-popup {
  --default-font: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  box-sizing: border-box;
}

.recolor-ext-popup *,
.recolor-ext-popup :after,
.recolor-ext-popup :before {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-box-sizing: inherit;
  box-sizing: inherit;
  -webkit-tap-highlight-color: transparent;
  -webkit-tap-highlight-color: transparent;
}

.recolor-ext-popup body {
  margin: 0;
  font-family: var(--default-font);
}

.recolor-ext-popup .recolor-input-wrapper,
.recolor-ext-popup #recolor-add-rule-form {
  display: flex;
  flex-direction: row;
}

.recolor-ext-popup #recolor-add-rule-form {
  padding: 8px;
}

.recolor-ext-popup .recolor-form-field {
  display: flex;
  flex-direction: column;
}

.recolor-ext-popup .recolor-form-field label {
  margin-bottom: 8px;
}

.recolor-ext-popup .recolor-form-field button,
.recolor-ext-popup .recolor-form-field input {
  margin: 0;
  padding: 5px;
}

.recolor-ext-popup .recolor-form-field input {
  margin: 0;
  padding: 5px;
  padding-left: 19px;
  font-size: 13px;
  width: 76px;
  margin-right: 8px;
}

.recolor-ext-popup .recolor-input-wrapper {
  position: relative;
}

.recolor-ext-popup .recolor-input {
  width: 100%;
  height: 100%;
}

.recolor-ext-popup .recolor-prefix {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  font-size: 15px;
  margin-left: 8px;
  padding-bottom: 1px;
}
